{### 前端 ###}
<script {{pjax}} src="/main.js"></script>

{### 音乐 ###}
<script src="/musicplayer.js"></script>

{### 友链列表 ###}
<script{{ pjax }} type="text/javascript">
  //jquery selector
  var $linkList = $(".link-list");
  if ($linkList.length != 0) {
    var j = -1;
    for	(var i = 0; i < $linkList.length; i++) {
      const listPath = $linkList[i].getAttribute('json-src');
      const iconPath = $linkList[i].getAttribute('icon-src');
      //使用 getJSON 读取 JSON 文件中的数据
      $.getJSON(listPath, function(data) {
        j++;
        //存储数据的变量 
        var li = "";
        //清空内容 
        $linkList.eq(j).empty();
        //将获取到的 json 格式数据遍历到 div 中
        $.each(data, function(infoIndex, info) {
          var labelWarn = '';
          var labelInfo = '';
          if (info['warn']) { 
            labelWarn = '<span class="label warn">' + info['warn'] + '</span>';
          }
          if (info['info']) { 
            labelInfo = '<span class="label info">' + info['info'] + '</span>';
          }
          li += '<div class="link-list-container">';
          li += '<img class="link-list-image" src="' + iconPath + info['logo'] + '">';
          li += '<p>' + info['title'] + labelInfo + labelWarn + '</p>';
          li += '<p>' + info['intro'] + '</p>';
          li += '<a href="' + info['url'] + '" rel="noopener" target="_blank" data-pjax-state=""></a>';
          li += '</div>';
        })
        //显示处理后的数据 
        $linkList.eq(j).html(li);
      })
    }
  }
</script> 
