{### 文章编辑按钮 ###}
{% if not is_index %}
  {### 文章目录页不显示此按钮 ###}
  <span class="post-meta-item">
    <a href="{{ 'https://github.com/' + config.github.repository + '/edit' + '/source' + '/hexo/'+ config.github.branch +'/'+ post.source }}" rel="noopener" target="_blank">编辑</a>
  </span>
{% endif %}
