$images_path                  = '/img/'
$site-brand-bg-url            = $images_path + 'bg-sidebar.png';
$body-bg-url                  = $images_path + 'bg-sidebar.png';
$comment-bg-url               = $images_path + 'bg-comment.png';